<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#9E6400" />

  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">

  <title>RestoFest</title>
</head>

<body>
  <div class="loading-container">
    <div class="loading-spinner"></div>
  </div>
  <a href="#main-content" class="skip-to-content">Menuju ke Konten</a>
  <header>
    <div class="app-bar">
      <div class="app-bar-title">
        <button id="menu" class="header-menu" aria-label="Navigation Drawer">☰</button>
        <h1>RestoFest</h1>
      </div>

      <nav id="drawer" class="nav">
        <ul class="nav-list">
          <li class="nav-item"><a href="#/home">Home</a></li>
          <li class="nav-item"><a href="#/favorite">Favorite</a></li>
          <li class="nav-item"><a href="https://www.linkedin.com/in/muhammad-rafli-rayhan-kuswara-38b50b272/"
              target="_blank" rel="noopener noreferrer">About Us</a></li>
        </ul>
      </nav>
    </div>

    <div class="hero">
      <picture>
        <source media="(max-width: 640px)" srcset="/images/heros/hero-image_2-mobile.webp" type="image/webp">
        <source media="(min-width: 641px)" srcset="/images/heros/hero-image_2-desktop.webp" type="image/webp">
        <source media="(max-width: 640px)" srcset="/images/heros/hero-image_2-mobile.jpg" type="image/jpeg">
        <source media="(min-width: 641px)" srcset="/images/heros/hero-image_2-desktop.jpg" type="image/jpeg">
        <img src="/images/heros/hero-image_2-desktop.jpg" alt="Gambar Banner" class="hero-image">
      </picture>
      <div class="hero-item">
        <h2 class="hero-title">Eksplorasi Ragam Kuliner <span>Luar Biasa</span></h2>
        <p class="hero-tagline">Jelajahi Kelezatan Tak Terbatas dari Berbagai Restoran Terbaik. Temukan Hidangan
          Istimewa yang Akan Membuat Lidah Anda Tersenyum.</p>
      </div>
    </div>
  </header>

  <main tabindex="0" id="main-content">
    <div class="content">
    </div>
  </main>

  <footer>
    <div class="footer-content">
      <p>&copy; 2023 RestoFest Application. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>