<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RestoFest</title>
</head>

<body>
  <a href="#main-content" class="skip-to-content">Menuju ke Konten</a>
  <header>
    <div class="app-bar">
      <div class="app-bar-title">
        <a id="menu" class="header-menu" role="button">☰</a>
        <h1>RestoFest</h1>
      </div>

      <nav id="drawer" class="nav">
        <ul class="nav-list">
          <li class="nav-item"><a href="#">Home</a></li>
          <li class="nav-item"><a href="">Favorite</a></li>
          <li class="nav-item"><a href="https://www.linkedin.com/in/muhammad-rafli-rayhan-kuswara-38b50b272/"
              target="_blank">About Us</a></li>
        </ul>
      </nav>
    </div>

    <div class="hero">
      <div class="hero-item">
        <h2 class="hero-title">Eksplorasi Ragam Kuliner <span>Luar Biasa</span></h2>
        <p class="hero-tagline">Jelajahi Kelezatan Tak Terbatas dari Berbagai Restoran Terbaik. Temukan Hidangan
          Istimewa yang Akan Membuat Lidah Anda Tersenyum.</p>
      </div>
    </div>
  </header>

  <main id="main-content">
    <div class="content">
      <h2 class="content-label">Eksplorasi Restoran</h2>
      <div class="restaurant-list">
      </div>
    </div>
  </main>

  <footer>
    <div class="footer-content">
      <p>&copy; 2023 RestoFest Application. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>