@font-face {
    font-family: 'Rubik';
    src: url('../public/fonts/subset-Rubik-Regular.woff2') format('woff2'),
        url('../public/fonts/subset-Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Rubik';
    src: url('../public/fonts/subset-Rubik-Bold.woff2') format('woff2'),
        url('../public/fonts/subset-Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

